/dev/mali                 0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0666   system     graphics
/dev/ion                  0666   system     system
/dev/s3c-mfc              0666   system     graphics
/dev/s5p-mfc              0666   system     graphics
/dev/video0               0666   system     m2m
/dev/video1               0666   system     camera
/dev/video2               0666   system     m2m
/dev/video3               0666   system     m2m
/dev/video4               0666   system     m2m
/dev/video11              0666   system     system
/dev/video12              0666   system     system
/dev/video16              0666   system     system
/dev/video20              0666   system     system
/dev/pmem                 0660   system     graphics
/dev/pmem_cam             0660   system     camera
/dev/i2c-16               0666   system     system
/dev/i2c-5                0666   system     system
/dev/CEC                  0666   system     system
/dev/HPD                  0666   system     system
/dev/fimg2d               0666   system     graphics
/dev/fmradio              0660   system     audio
/dev/srp                  0660   system     audio
/dev/umts*                0660   system     radio
/dev/lte*                 0660   system     radio
/dev/cdma*                0660   system     radio
/dev/link_pm              0660   system     radio
/dev/block/mmcblk0p4      0660   system     root
/dev/block/mmcblk0p7      0660   system     radio
/dev/ttyUSB0              0666   system     system

/dev/ttySAC*	          0660	 root	 system

/dev/input/*              0666   root       input
