allow init init:tcp_socket { create };

allow init rild:process noatsecure;

domain_trans(init, rootfs, glgps)
domain_trans(init, rootfs, cpboot-daemon)
domain_trans(init, rootfs, tinyplay)
domain_trans(init, rootfs, macloader)
