type ipc-modem, domain;
type ipc-modem_exec, exec_type, file_type;
init_daemon_domain(ipc-modem);

allow ipc-modem sysfs_radio:file rw_file_perms;
allow ipc-modem radio_device:chr_file rw_file_perms;
allow ipc-modem efs_block_device:blk_file r_file_perms;
allow ipc-modem efs_file:file r_file_perms;
allow ipc-modem self:capability dac_override;

