allow sysinit userinit_exec:file { getattr execute execute_no_trans read open };
allow sysinit unlabeled:dir { search };
allow sysinit surfaceflinger_exec:file { getattr };
